.navbar {
    width: 100%;
    height: 68px;
    display: flex;
    background-color: #f5f7fa;
    font-family: helvetica,arial,verdana,sans-serif;
    color:  #163f5e;
    border: solid 1px #d9d9d9;
}

.chippy {
    height: 54px;
    margin-top: 14px;
    margin-left: 20px;
}

.trophy {
    width: 14px;
    margin-right: 10px;
    margin-top: -3px;
}

.link {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    font-size: 16px;
}

.addthings {
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-left: 20px;
    margin-right: 32px;
}

.addgamewrapper {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    font-size: 16px;
    border-bottom: solid 1px #d9d9d9;
    cursor: pointer;
}

.addgame {
    display: flex;
    align-items: center;
    width: 163px;
    height: 38px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #d9d9d9;
    color: #3394de;
    margin-top: 23px;
}

.addgametext {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: lighter;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #3394de;
    margin-top: 3px;
}

.plussign {
    height: 10px;
    margin-left: 16px;
    margin-right: 10px;
}

.addplayerwrapper {
    margin-top: 20px;
    border-bottom: solid 1px #d9d9d9;
}


.standings {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 46px;
    font-family: Helvetica;
    font-size: 16px;
    text-align: right;
    color: #163f5e;
}

.linkwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 17px;
}

.link:not(:last-child) {
    cursor: pointer;
}
